<h1>EDIT QUESTION HERE!</h1>

<%= form_for @question do |f| %>
<div>
  <%= f.label :question_name %>
  <%= f.text_field :question_name %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div>
  <%= f.submit "Update" %>
</div>

<% end %>
