<h3>Answer the question below.</h3>
<% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |error| %>
    <%= error %>
    <div>&nbsp;</div>
  <% end %>
<% end %>
<%= form_for [@question, @answer] do |f| %>
<div>
  <%= f.label :answer %>
  <%= f.text_area :answer %>
</div>
<div>
  <%= f.submit "Submit" %>
</div>
<% end %>
